@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Sono', monospace;
}

.header {
    background-color: #232136;
    padding: 2% 0;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}

.content {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

h1 {
    font-weight:bold;
    color: #ea9797;
    padding-left: 0.5%;
}

.navbar {
    width: 75%;
    text-align:center;
}

.navitem {
    padding: 0.3% 3%;
    text-decoration:none;
    font-size: 125%;
    color: #908caa;
    /* color: #e0def4; */
}

#active {
    color: #e0def4;
}

.navitem:hover {
    color:#e0def4;
}

.headshot {
    order:-1;
    width: 30%;
    margin-top: 5%;
}

.about {
    width: 60%;
    order:0;
}

h3 {
    text-align:right;
}

li {
    list-style-type: "» ";
}

.links {
    width: 40%;
}

.projects {
    margin-top: 5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    display:flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
}

.project {
    width: 25%;
}

.project img {
    border: solid rgba(234,151,151,0.5) 7px;
}

.resume {
    float:left;
    width: 40%;
    margin: 2% 2.5%;
}

#resume {
    width: 100%;
}

.rel-classwork {
    width: 40%;
    float:right;
    margin-right: 2%;
    margin-bottom: 5%;
}

.table-col {
    display:table-cell;
}

.skills {
    width: 40%;
    float:right;
    margin-right: 2%;
}

.services {
    display: flex;
    flex-flow: column wrap;
    margin: 0 1%;
}
